@media only screen and (max-width: 768px) {
  .text-header {
    font-size: 2.5rem;
  }
  .sobre-mi {
    padding-top: 100px;
    font-size: 4rem;
  }
  h2 {
    padding-top: 30px;
    font-size: 2rem;
  }
  .foto-uno {
    max-width: 100%;
    height: auto;
  }
  .texto {
    padding-top: 10%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }
  .parte-dos {
    font-size: 1rem;
  }
  .rrss {
    font-size: 1.5rem;
  }
  .ft {
    width: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .text-header {
    font-size: 1.7rem;
    padding-top: 10%;
  }
  .sobre-mi {
    padding-top: 100px;
    font-size: 4rem;
  }
  h2 {
    padding-top: 30px;
    font-size: 2rem;
  }
  .foto-uno {
    max-width: 100%;
    height: fit-content;
  }
  .texto {
    padding-top: 10% px;
    margin: 5%;
    font-size: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  .parte-dos {
    font-size: 1.5rem;
  }
  .rrss {
    font-size: 1rem;
  }
  .ft {
    width: 8px;
  }
}
@media screen and (max-width: 768px) {
  .flip-card {
    width: 80%;
    height: 300px;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80%;
    height: 300px;
  }
  .title {
    font-size: 1.2em;
  }
  .textouc {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .flip-card {
    width: 90%;
    height: 250px;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 90%;
    height: 250px;
  }
  .title {
    font-size: 1em;
  }
  .textouc {
    display: none;
  }
}
.flip-card {
  background-color: transparent !important;
  width: 240px;
  height: 265px;
  margin-left: 6%;
  align-items: center;
  justify-content: center;
}

.card {
  width: 240px;
  height: 265px;
  border-radius: 7%;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(197, 197, 198, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(170, 80, 255);
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, rgb(227, 196, 255) 60%, rgb(237, 222, 255) 88%, rgb(228, 195, 255) 40%, rgba(141, 80, 255, 0.603) 48%);
  color: rgb(168, 80, 255);
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(198, 145, 255) 30%, rgb(170, 80, 255) 88%, rgb(222, 196, 255) 40%, rgb(214, 160, 255) 78%);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.fondotodpag {
  background: linear-gradient(to right, #654ea3, #eaafc8);
}

.header .navbar {
  background-color: transparent !important;
}

.navbg a {
  color: rgb(240, 248, 255);
  font-weight: bold;
}

.navbg a:hover {
  background-color: rgb(47, 10, 78);
  border-style: hidden;
  color: rgb(240, 248, 255);
}

.text-header {
  padding-top: 20%;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  color: rgb(240, 248, 255) !important;
  font-weight: bold;
  justify-content: center;
}

.primerpag {
  background: url(../assets/bgindex.svg);
  position: relative;
  background-size: cover;
  min-height: 100vh;
}

.parte-uno {
  margin: 5%;
  padding: 5%;
  border: solid rgb(35, 5, 54);
  background-color: rgb(178, 103, 244);
  align-items: center;
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(240, 248, 255);
  font-size: 2rem;
  margin: 3%;
}

h3 {
  font: size 1.5rem;
  justify-content: center;
  margin: 5%;
  color: rgb(240, 248, 255);
}

.texto {
  text-align: center;
  font-size: 1rem;
  justify-content: center;
  margin: 10%;
  color: rgb(240, 248, 255);
}

.textouc {
  text-align: center;
  font-size: 1rem;
  justify-content: center;
  margin: 10%;
  color: rgb(240, 248, 255);
}

.iconos {
  padding-top: 5%;
  display: inline;
  width: 30%;
}

.conten {
  width: 15%;
}

.rrss {
  align-items: center;
  text-align: center;
  color: rgb(240, 248, 255);
}

.ft {
  justify-content: space-between;
  width: 70px;
  justify-content: center;
  padding-top: 60px;
  margin-left: 40px;
  font-size: 0.5;
}

.pagina-dos {
  background-image: url(../assets/bgpagdos.svg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.sobre-mi {
  padding-top: 25%;
  text-align: center;
  font-size: 8rem;
  color: rgb(240, 248, 255) !important;
  font-weight: bold;
}

.foto-uno1 {
  width: 60%;
  align-items: center;
  justify-content: center;
}

.foto-uno {
  align-items: center;
  justify-content: center;
  width: 60%;
}

.pagina-tres {
  background-image: url(../assets/bgpagtres.svg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.icono-tres {
  width: 150px;
  align-items: center;
  padding-top: 40px;
}

.iconos-tres {
  width: 70px;
  padding-top: 30px;
}

.pagina-cuatro {
  background-image: url(../assets/bgpagcuatro.svg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.foto-4 {
  padding-top: 40px;
  width: 140px;
  justify-content: center;
  align-items: center;
}

.paginacinco {
  background-image: url(../assets/bgpagcinco.svg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.parte-dos {
  font-size: 1.5rem;
}

.ct {
  align-items: center;
  width: 20%;
  justify-content: space-evenly;
  margin-left: 5%;
}

/*# sourceMappingURL=styles.css.map */
