@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,400;1,600&display=swap');
*{
    margin: 0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    } 

/* Header Index */
.header {
    background: url(../assets/bgindex.svg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    }

    /* Navbar  Index*/
.header .navbar {
        background-color: transparent !important;
        }

.navbg a{
    color: whitesmoke;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

.navbg a:hover{
    background-color: rgb(47, 10, 78);
    border-style: hidden;
    color: aliceblue;
}

.text-header{
    padding-top: 25%;
    text-align: center;
    align-items: center;
}

h1{
    font-size: 6rem;
    color:antiquewhite !important;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

/* Secciones  */
.fondotodpag{
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.parte-uno , .parte-uno-dos{
    margin: 5%  5%;
    padding: 5%;
    border: solid rgb(35, 5, 54);
    background-color:rgb(178, 103, 244) ;
    align-items: center;
    text-align: center;
}


h2 {
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
    color: antiquewhite;
    font-weight: bolder;
}

.contenido{
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    margin: 5%;
    color: whitesmoke;
}

.iconos  {
    display: inline;
    width: 50%;
}
.conten{
    width: 200px;
}
.rrss{
    align-items: center;
    text-align: center;
}
.ft{
    justify-content: space-between;
    width: 50px;
    justify-content: center;
    padding-top: 60px;
    margin-left: 40px;
}

/* Pagina dos */

/* Fondo */
.pagina-dos{
    background-image:url(../assets/bgpagdos.svg);
    background-size: cover;
    min-height: 100vh;
    position:relative;
}
/* Texto Header Pag2 */
.sobre-mi{
    padding-top: 250px;
    text-align: center;
    font-size: 8rem;
    color:antiquewhite !important;
    font-weight: bold;
}

/* Secciones */
.parte-uno-dos{
    justify-content: center;
    align-items: center;
}

.contenido-dos{
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: antiquewhite;
}
/* Fotos */
.foto-uno{
    width:350px;
    align-items: center;
}
/* Footer */
/* La mayor parte de los detalles del footer estan junto al css del index */
.contactt{
    text-align: center;
    font-size: 2rem;
    color: antiquewhite;
}

.ft2{
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    color: antiquewhite;
}

/* Pagina tres */
.pagina-tres{
    background-image:url(../assets/bgpagtres.svg);
    background-size: cover;
    min-height: 100vh;
    position: relative;

}

.icono-tres{
    width:150px;
    align-items: center;
    padding-top: 40px;
}

.parte-tres{
    margin: 60px 60px 60px 60px;
    border: solid rgb(35, 5, 54);
    background-color:rgb(178, 103, 244) ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.iconos-tres{
    width:70px;
    padding-top: 30px;
}

/* Pagina cuatro */
.pagina-cuatro{
background-image: url(../assets/bgpagcuatro.svg);
background-size: cover;
min-height:100vh;
position:relative;
}

.parte-cuatro{
    margin: 60px 60px 60px 60px;
    border: solid rgb(35, 5, 54);
    background-color:rgb(178, 103, 244) ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.foto-4{
    padding-top: 40px;
    width:140px;
    justify-content: center;
    align-items: center;
}
.dessarrollo{
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}
/* pagina cinco */

.paginacinco{
    background-image:url(../assets/bgpagcinco.svg);
    background-size: cover;
    min-height: 100vh;
    position:relative;
}

.ct{
    width: 100px;
    margin: 30px;
}

/* Media Querys */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        background-color: rgba(11, 1, 14, 0.5);
        position: absolute;
        top: 56px;
        left: 0;
        width: 100%;
    }

    .navbar-nav .nav-item {
        display: block;
        text-align: center;
        color: darkviolet;
    }

    .navbar-nav .nav-link {
        display: inline-block;
        color: rgb(163, 47, 221);
        font-size: 1.2rem;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }
    
    /* Header */
    h1 {
        font-size: 4rem;
        justify-content: center;
    }

    .text-header {
        padding-top: 40%;
    }

    /* Secciones*/
    .parte-uno, .parte-uno-dos {
        margin: 5%;
        padding: 5%;
    }
/* Textos */
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .contenido {
        font-size: 0.9rem;
    }
/* Iconos  */
    .iconos{
        width:50%;
    }


.ft{
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 20px;
}
}

@media only screen and (max-width: 576px) {
    /* Header */
    h1 {
        font-size: 3;
        justify-content: center;
    }
}
/* Pagina dos con media querys */

@media only screen and (max-width: 768px) {

    .sobre-mi {
        padding-top: 100px;
        font-size: 4rem;
    }

    h2{
        padding-top: 30px;
        font-size: 2rem;
    }

    .foto-uno {
        width: 250px;
    }

    .contenido-dos {
        padding-top: 40px;
    }

    .contactt {
        font-size: 1.5rem;
    }

    .ft2 {
        font-size: 1rem;
    }

}
