@use 'mediaq.scss';
*{
    margin:0;
    padding:0;
}
// fondo de todas las paginas

body{
    max-width: 100%;
    overflow-x:hidden;
}

.fondotodpag {
    background :linear-gradient(to right, #654ea3, #eaafc8)
}

// navbar
.header .navbar{
    background-color: transparent !important;
    }
    
    .navbg a{
        color: rgb(240, 248, 255);
        font-weight: bold;
    }
    .navbg a:hover{
        background-color: rgb(47, 10, 78);
        border-style: hidden;
        color: rgb(240, 248, 255);
    }
    // titulosprincipales
.text-header{
        padding-top: 25%;
        text-align: center;
        align-items: center;
        font-size: 6rem;
        color: rgb(240, 248, 255) !important;
        font-weight: bold;
        justify-content: center;
        }

.primerpag{
    background: url(../assets/bgindex.svg);
    position: relative;
    background-size: cover;
    min-height:100vh;
}
.parte-uno{
    margin: 5%;
    padding: 5%;
    border: solid rgb(35, 5, 54);
    background-color: rgb(178, 103, 244);
    align-items: center;
    text-align: center;
}

h2{
    text-align: center;
    color:  rgb(240, 248, 255);
    font-size: 2rem;
    margin: 3%;
}

h3{
    font: size 1.5rem;
    justify-content: center;
    margin:5%;
    color:  rgb(240, 248, 255);
}

.texto{
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    margin: 10%;
    color: rgb(240, 248, 255);
}
.iconos  {
    padding-top: 5%;
    display: inline;
    width: 50%;
}
.conten{
    width: 200px;
}
.rrss{
    align-items: center;
    text-align: center;
    color: rgb(240, 248, 255);
}
.ft{
    justify-content: space-between;
    width: 80px;
    justify-content: center;
    padding-top: 60px;
    margin-left: 40px;
    font-size: 0.5;
}
.pagina-dos{
    background-image:url(../assets/bgpagdos.svg);
    background-size:cover;
    min-height:100vh;
    position:relative;
}

.sobre-mi{
    padding-top: 25%;
    text-align: center;
    font-size: 8rem;
    color:  rgb(240, 248, 255) !important;
    font-weight: bold;
}

.foto-uno1{
    width: 60%;
    align-items: center;
    justify-content: center;
}
.foto-uno{
    align-items: center;
    justify-content: center;
    width: 60%;
}
.pagina-tres{
    background-image: url(../assets/bgpagtres.svg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.icono-tres{
    width:150px;
    align-items: center;
    padding-top: 40px;
}
.iconos-tres{
    width:70px;
    padding-top: 30px;
}
.pagina-cuatro{
    background-image: url(../assets/bgpagcuatro.svg);
    background-size:cover;
    min-height: 100vh;
    position: relative;
    }
    
.foto-4{
    padding-top: 40px;
    width:140px;
    justify-content: center;
    align-items: center;
    }

.paginacinco{
        background-image:url(../assets/bgpagcinco.svg);
        background-size:cover;
        min-height:100vh;
        position: relative;
    }

.parte-dos{
font-size: 1.5rem;
        }
.ct{
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
    margin-left: 5%;
}
